{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/ytlogo.svg' %}">
    <title>
        YouTube</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    </head>
<body>
 <!-- Header Section -->
<div class="container">
    <div class="header">
        <div class="menu"><img src="{% static 'images/menu.png' %} " height="17px" width="20px"></div>
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" height="50px" width="100px">
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="Search" 
                style="width: 580px; height: 35px; border-radius: 50px; position: relative; top:10px; border: 1px solid rgb(214, 209, 209);">
            </form>
        </div>
        <a href=""><div class="searchimg"><img src="{% static 'images/search.png' %}" height="20px" width="20px" style="position: relative; top: 8px;left: 20px;"></div></a>
        <div class="mic">
            <img src="{% static 'images/mic.png' %}" height="20px" width="20px" style="position: relative; top: 8px;">
        </div>
        <div class="notification">
            <div class="notification_round">
                <img src="{% static 'images/add-video.png' %}" height="25px" width="25px" style="position: relative; top: 8px;">
            </div>
            <div class="notification_round">
                <img src="{% static 'images/bell.png' %}" height="25px" width="25px" style="position: relative; top: 8px;">
            </div>
            <div class="notification_round">
                <img src="{% static 'images/account.webp' %}" height="30px" width="30px" style="position: relative; border-radius:40px ;top: 4px;">
            </div>

        </div>
        <div class="top-bar">
            <a href=""><div class="top-bar-flx" style="background-color: black; color:#ffff;">All</div></a>
            <a href=""> <div class="top-bar-flx">Music</div></a>
            <a href=""> <div class="top-bar-flx">FIFA</div></a>
            <a href=""><div class="top-bar-flx">Tamil Cinemas</div></a>
            <a href=""> <div class="top-bar-flx">Mixes</div></a>
            <a href=""> <div class="top-bar-flx">Gaming</div></a>
            <a href=""> <div class="top-bar-flx">Bollywood Musics</div></a>
            <a href=""> <div class="top-bar-flx">Motor Cycles</div></a>
            <a href=""> <div class="top-bar-flx">Sports</div></a>
            <a href=""> <div class="top-bar-flx">Universities</div></a>
            <a href=""> <div class="top-bar-flx">Teams</div></a>
            <a href=""> <div class="top-bar-flx">Football</div></a>
            <a href=""> <div class="top-bar-flx">Live</div></a>
        </div>
    </div>

    <!-- main Part -->
    <section>
        <div class="container-wrapper">
            <div class="side-bar">
 
            <a href="{% url 'common:index' %}"><div class="side"><img src="{% static 'images/home.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
             <h3>Home</h3></div></a>
             <a href="{% url 'common:shorts' %}"><div class="side"style=" background-color: rgb(238, 236, 235);"><img src="{% static 'images/shorts.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
             <h3>Shorts</h3></div></a>
             <a href=""> <div class="side"><img src="{% static 'images/subscribe.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
             <h3>Subscriptions</h3></div></a>
             <div class="line"></div>
                 <a href=""><div class="side"><img src="{% static 'images/2481186-200.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
             <h3>Library</h3></div></a>
             <a href=""><div class="side"><img src="{% static 'images/history.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
             <h3>History</h3></div></a>
             <a href=""><div class="side"><img src="{% static 'images/youtube.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
             <h3>Your Videos</h3></div></a>
             <a href=""> <div class="side"><img src="{% static 'images/watch-later-.webp' %}" height="25px" width="25px" style="position: relative;top: 4px;">
                 <h3>Watch Later</h3></div></a>
                 <a href=""> <div class="side"><img src="{% static 'images/like.png' %}" height="25px" width="25px" style="position: relative;top: 4px;">
                 <h3>Liked Videos</h3></div>   </a> 
                 <a href=""><div class="side"><img src="{% static 'images/down-arrow.png' %}" height="15px" width="15px" style="position: relative;top: 4px;">
                 <h3>Show More</h3></div> </a>
             <div class="line"></div> 
             <h2>Subscriptions</h2>    
             <a href=""><div class="side"><img src="{% static 'images/asianet.png' %}" height="15px" width="15px" style="position: relative;top: 4px;">
                 <h3>Asianet News</h3></div> </a>
             <a href=""><div class="side"><img src="{% static 'images/raf.jpg' %}" height="15px" width="15px" style="position: relative;top: 4px;">
                     <h3>Raf Talks</h3></div> </a>
             <a href=""><div class="side"><img src="{% static 'images/feed.jpg' %}" height="15px" width="15px" style="position: relative;top: 4px;">
                         <h3>Sports 18</h3></div> </a> 
             <a href=""><div class="side"><img src="{% static 'images/feed.jpg' %}" height="15px" width="15px" style="position: relative;top: 4px;">
                             <h3>Feed Football</h3></div> </a>       
           
             </div>

            <div class="main">
                
            </div>

        </div> 
    </section>
</div>





   </body>
</html>